  <!-- _____________________________________ HERO / SLIDER _________________________________________ -->


  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
   <!--  <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
   <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button> -->
   <li class="orbit-slide is-active">
    <img src="./assets/images/hero-1-after-party.png">
  </li>
    <!-- <li class="orbit-slide">
      <img src="http://placehold.it/2000x750">
    </li>
    <li class="orbit-slide">
      <img src="http://placehold.it/2000x750">
    </li>
    <li class="orbit-slide">
      <img src="http://placehold.it/2000x750">
    </li> -->
  </ul>
</div>


<!-- ___________________________________________LISTING PRODUCTS TEST________________________________________ -->

  

<!--   // Delete a Character
  this.deleteCharacter = function(character){
    Character.delete({id: character._id});
    var index = self.characters.indexOf(character);
    self.characters.splice(index, 1);
  } -->

  <h1>All Products</h1>
  <ul>
    <li ng-repeat="product in products.all" ng-click="products.selectProduct(product)">
      <a href="/products">{{ product.shopify.title }} - {{ product.shopify.id }} </a> <button ng-click="products.deleteProduct(product)">Delete</button>
    </li>
  </ul>

<!-- 
  <h1>The Lightsaber Database</h1>
  <ul>
    <li ng-repeat="character in main.characters" ng-click="main.selectCharacter(character)">
      {{ character.name }}'s lightsaber is <span class="{{ character.lightsaber | lowercase }}">{{ character.lightsaber }}</span> <a href="#" ng-click="main.editCharacter(character)">Edit</a> <button ng-click="main.deleteCharacter(character)">Delete</button>
    </li>
  </ul> -->


<!-- <ul>
  <li ng-repeat="product in products.all">
    <div><img ng-src="{{product.shopify.image[0].src}}"></div>
    <div>
      <div>
        <h3>{{product.shopify.title}}</h3>
        <p class="bold">{{product.shopify.body_html}}</p>
        <p class="italic">{{product["vendor"]}}</p>
        <p><span class="bold">Type:</span> <span class="italic">{{product["product_type"]}}</span></p>
        <p><span class="bold">Price:</span> <span class="italic">{{movie["variant_price"]}}</span></p>
        <button ng-click="products.deleteProduct(producy)">Delete Product</button>
      </div>
    </div>
  </li>
</ul> -->


<!-- NOTES -->
<!-- Product data we want to feature but need to investigate: -->          
<!-- variant: productData['variants'],   // ???                
variant_inventory: productData['inventory_quantity'], -> do we want to feature this front end? No.
variant_price: productData['price']     
updated_at: productData['updated_at'], -> do we want to feature this front end? No.
 -->


<!-- _______________________________________________________________________________________________ -->

<br><br>

<div class="row column text-center">
  <h2>N E W / I N </h2>
  <hr>
</div>

<div class="row small-up-2 large-up-4">
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button expanded hollow">Buy</a>
  </div>
</div>
<hr>


<div class="row column text-center">
  <h2>M O S T / L O V E D</h2>
  <hr>
</div>
<div class="row small-up-2 medium-up-3 large-up-6">
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/300x400">
    <h5>Basic White Tee | £35</h5>
    <br>
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
</div>

<hr>

</div>




