

<main class="cd-main-content">

  <div class="cd-tab-filter-wrapper">
    <div class="cd-tab-filter">
      <ul class="cd-filters">
        <li class="placeholder"> 
          <a data-type="all" href="#" ui-sref-active="active" ui-sref="products">All</a> <!-- selected option on mobile -->
        </li> 
        <li class="filter"><a class="selected" href="#0" ui-sref-active="active" ui-sref="products">Your Order Summary</a></li>
      </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->


  <br>

  <div id="order-container">
    <div id="left-order">
      <h1 style="font-size: 16px;">THANK FOR YOUR ORDER #12345</h1>
      <hr style="max-width: 100%">
      <button ui-sref-active="active" ui-sref="ordercomplete" style="text-align: center; width: 100%; height: 50px; background: black; color: white; font-weight: 700;">S H O P / N E W / I N</button>

      <div class="row">

        <br><br>

        <div class="medium-12 large-12 columns">

          <div class="row small-up-5">

            <div id="column" class="column" ng-repeat="product in products.all | limitTo:6" ng-if="$index > 0">

              <a href="#" ui-sref-active="active" ui-sref="show({ id: product._id })"><img class="center-cropped" ng-src="{{product.shopify.image[0].src}}"></a>
              <div id="title-container">
                <h5 id="title-container">{{product.shopify.title | uppercase}}</h5>
                <h5>£{{product.shopify.variants[0].price}}</h5>
                <hr>
              </div>
              
            </div>

          </div>

        </div>

      </div> <!-- Closing row -->


    </div>
  </div>

</main>

