

<!-- __________________________________STYLESHEET (WON'T WORK WITHOUT) ____________________________________ -->


<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


<!-- ___________________________________________BREADCRUMB________________________________________ -->

<div id="show-page-styling">

  <br>

  <div id="breadcrumbs"class="row columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a id="link-colour" href="#" ui-sref-active="active" ui-sref="home">Home</a></li>
        <li><a id="link-colour" href="#" ui-sref-active="active" ui-sref="products">Shop</a></li>
        <li>
          <span class="show-for-sr">Current: </span>{{products.selectedProduct.shopify.title}}
        </li>
      </ul>
    </nav>
  </div>

  <br>

  <!--______________________________________________IMAGES_______________________________________________________-->

  <!-- CLICK EVENT ATTEMPT -->
      <!-- <div>
        <ul>
          <li ng-repeat="image in products.selectedProduct.shopify.images">
            <img id="image1" ng-src="{{image.src}}" ng-click="loadImage()">
          </li>
        </ul>
        <img id="image2" ng-src="{{img.path}}">
      </div> -->


      <div class="row" id="row-master">
        <div class="medium-6 columns">
          <img id="thumbnail" class="thumbnail" ng-src="{{products.selectedProduct.shopify.images[0].src}}" />

          <div class="row small-up-4">
           <div class="column" ng-repeat="image in products.selectedProduct.shopify.images" >

            <img id="thumbnail" class="thumbnail" ng-src="{{image.src}}" />

          </div>
        </div>
      </div>



      <!-- TITLE & DESC -->

      <div id="details-frame" class="medium-6 large-5 columns">
        <h3 style="font-family: montserrat; font-size: 18px; font-weight: bold;">{{products.selectedProduct.shopify.title | uppercase}}</h3>
        <h3 style="font-family: montserrat; font-size: 15px">£{{products.selectedProduct.shopify.variants[0].price | uppercase}}</h3>
        <p style="font-size: 15px;">BY {{products.selectedProduct.shopify.vendor | uppercase}}</p>
        <hr>




        <!-- VARIANTS  -->

          <!-- Create loop -->
          <!-- Create function to not render dropdown if only variant is Default Title -->

        <label>
          <select id="variant-selector">
            <option>{{products.selectedProduct.shopify.variants[0].title}} |</option>
            <option>{{products.selectedProduct.shopify.variants[1].title}}</option>
            <option>{{products.selectedProduct.shopify.variants[2].title}}</option>
          </select>
        </label>




        <!-- QUANTITY  -->

<!--         <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">Quantity</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="middle-label" placeholder="One fish two fish">
          </div>
        </div> -->




        <!-- ADD TO BAG & SOCIAL  -->

        <a href="#" id="bag-button-style" class="large expanded hollow button">ADD TO BAG</a>
        <div class="small secondary expanded button-group">
          <a id="social-button-style" class="button">Facebook</a>
          <a id="social-button-style" class="button">Twitter</a>
          <a id="social-button-style-right" class="button">Instagram</a>
        </div>


        <hr>


        <h4 style="font-family: montserrat; font-size: 12px; font-weight: bold;">DESCRIPTION</h4>
        <!-- <p style="font-size: 12px;">{{products.selectedProduct.shopify.body_html}}</p> -->
        <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        
      </div>
    </div>



  <br><br>




</div>


