
<!-- __________________________________STYLESHEET (WON'T WORK WITHOUT) ____________________________________ -->


<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


<!-- ___________________________________________BREADCRUMB________________________________________ -->

<div id="show-page-styling">

  <br>

  <div id="breadcrumbs"class="row columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a id="link-colour" href="#" ui-sref-active="active" ui-sref="home">Home</a></li>
        <li><a id="link-colour" href="#" ui-sref-active="active" ui-sref="products">Shop</a></li>
        <li>
          <span class="show-for-sr">Current: </span>{{products.selectedProduct.shopify.title}}
        </li>
      </ul>
    </nav>
  </div>

  <br>

  <!--______________________________________________IMAGES_______________________________________________________-->

  <!-- CLICK EVENT ATTEMPT -->
      <!-- <div>
        <ul>
          <li ng-repeat="image in products.selectedProduct.shopify.images">
            <img id="image1" ng-src="{{image.src}}" ng-click="loadImage()">
          </li>
        </ul>
        <img id="image2" ng-src="{{img.path}}">
      </div> -->


      <div class="row" id="row-master">
        <div class="medium-6 columns">
          <img id="thumbnail" class="thumbnail" ng-src="{{products.selectedProduct.shopify.images[0].src}}" />
          <div class="row small-up-4">
           <div class="column" ng-repeat="image in products.selectedProduct.shopify.images" >
             <img id="thumbnail" class="thumbnail" ng-src="{{image.src}}" />
           </div>
         </div>
       </div>



       <!-- TITLE & DESC -->

       <div id="details-frame" class="medium-6 large-5 columns">
        <h3 style="font-family: montserrat; font-size: 18px; font-weight: bold;" ng-model="title">{{products.selectedProduct.shopify.title | uppercase}}</h3>
        <p style="font-size: 15px" c> £{{products.selectedProduct.shopify.variants[0].price | uppercase}}</p>
        <p style="font-size: 15px;"ng-model="vendor" >BY {{products.selectedProduct.shopify.vendor | uppercase}}</p>
        <hr>




        <!-- VARIANTS  -->

        <!-- !!! Create function to not render dropdown if only variant is Default Title -->

        <label>
          <select id="variant-selector" ng-model="variant">
            <option ng-repeat="variant in products.selectedProduct.shopify.variants" ng-model="variant" >{{variant.title}}</option>
          </select>
        </label>




        <!-- ADD TO BAG & SOCIAL  -->

        <!-- !!! Create function for adding to bag -->

        <!-- First attempt -->
        <button type="submit" id="bag-button-style" class="large expanded hollow button" ng-click="products.addToBag(products.selectedProduct, variant)">ADD TO BAG</button>




<!-- ADD TO BAG __________________ Second attempt from att pynta code -->
<!-- 
        <h5>Test Mini Form</h5> -->

     <!--    <form ng-submit="products.addToBag(content)">

        <input type="text" ng-model="beep" value="Example input">
        <input type="text" ng-model="bop" value="Example input">
        <input type="submit" ng-model="content" value="Submit">

        </form> -->


        <hr>

        <h5>Form Test</h5>

        <form ng-submit="products.addToBag(title)" method="post" enctype="multipart/form-data" id="addToCartForm" class="ng-pristine ng-valid">
        <!-- previously contained action="#/cart/add" -->

          <span id="productPrice" class="h4" itemprop="price">
            £{{products.selectedProduct.shopify.variants[0].price | uppercase}}
          </span>

          <!-- !!!!!!! Console logging the variant title -->

          <select class="single-option-selector" data-option="option1" id="productSelect-option-0" ng-model="title">

            <option ng-repeat="variant in products.selectedProduct.shopify.variants" value="{{variant.title}}" ng-model="title">{{variant.title}}</option>
            

          </select>

          <select name="id" id="productSelect" class="product-variants" style="display: none;">
    

            <option selected="selected" value="{{products.selectedProduct.shopify.variants[0].id}}">{{products.selectedProduct.shopify.variants[0].title}} - £{{products.selectedProduct.shopify.variants[0].price}}</option>

            <option ng-repeat="variant in products.selectedProduct.shopify.variants" ng-if="$index > 0" value="{{variant.id}}">{{variant.title}} - {{variant.price}}</option>

          </select>
               

                <!-- <label for="quantity" class="quantity-selector">Quantity</label> -->
                

        <!--   <div class="js-qty" ng-model="quantity">
            <input type="text" class="js--num" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="quantity">
          </div> -->

          <button type="submit" name="add" id="addToCart" class="btn">
            <span id="addToCartText">Add to Basket</span> 

            <!-- LINKS INTO THE att-pynta-shopify-variant-handling-code code -->

          </button>

         <!--  <button type="submit" name="addToBag" ng-click="products.addToBag()">Add to Basket</button>
-->
          <hr>
        </form>



<!-- SEOCND ATTTEMPT FROM ATT PYNTA ENDS -->




              <div class="small secondary expanded button-group">
                <a id="social-button-style" class="button">Facebook</a>
                <a id="social-button-style" class="button">Twitter</a>
                <a id="social-button-style-right" class="button">Instagram</a>
              </div>


              <hr>


              <h4 style="font-family: montserrat; font-size: 12px; font-weight: bold;">DESCRIPTION</h4>

              <!-- <p style="font-size: 12px;">{{products.selectedProduct.shopify.body_html}}</p> -->

              <p style="font-size: 12px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
          </div>



          <br><br>




        </div>


