/* --------------> full site styling*/

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

p {
  line-height: 150%;
}

a:focus, a:hover {
  color: #99FF0A;
}

#sub-top-bar {
  background-color: black;
  color: white;
  max-width: 100%;
  margin: 0;
}

#footer {
  background-color: black;
  color: white;
}


/* --------------> Top Nav*/

#top-bar-id {
  background-color: white; 
  text-align: center;
  padding: 0px;
  line-height: 56px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.top-bar li {
  display: inline;
  vertical-align: middle;
}

.top-bar li img {
  display: inline;
  vertical-align: middle;
}



/* -------------->  SHOW product page*/

.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}


#breadcrumbs {
  max-width: 90%;
}
#row-master {
  max-width: 90%;
}

#thumbnail {
  border: none;
  box-shadow: 1px 1px 1px rgba(34,34,34,.1);
}

#details-frame {
  padding: 46px;
  background: #FFFFFF;
  color: black;
  box-shadow: 1px 1px 1px rgba(34,34,34,.1);
}


#show-page-styling {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

#link-colour {
  color: #99FF0A;
}

#variant-selector {
  font-size: 0.7rem;
  font-weight: bold;
}

#bag-button-style {
  color: white;
  background-color: black;
  border: none;
  font-size: 18px;
}

#social-button-style {
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: white;
}

#social-button-style-right {
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: white;
}

/* --------------> ALL products*/


.breadcrumbs a {
  color: #99FF0A;
}


#left-nav {
  width: 10px;
}

.column:last-child, .columns:last-child {
  float: left;
}

.medium-6 {
  width: 100%;
}

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: top; /* Center the image within the element */
  height: 300px;
  width: 300px;
}

#title-container{
    width:260px;
    height:25px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;   
    font-size: 13px;
    padding-top: 5px;
}​


/*Product Show Page*/

.button .large .expanded {
  background-color: white;
  border: 1px solid black;
  color: black;
}



/*ng messaging*/

.ng-message-error {
  height: 30px;
  width: 75%;
  margin-left: 180px;
  line-height: 30px;
  color: #fff;
  background: #E57373;
  border: 1px solid #B71C1C;
  border-radius: 5px;
}

.ng-message-error p {
  margin-left: 10px;
}



