/*full site styling*/

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 150%;
}

a:focus, a:hover {
  color: #99FF0A;
}


/*top nav*/
.menu-option-wander {
  font-size: 20px;
  color: black;
}

.top-bar {
  background-color: white; 
  text-align: center;
  margin: auto;
  line-height: 56px;
  font-size: 10px;
}

.top-bar li {
  display: inline;
  vertical-align: middle;
}

.top-bar li img {
  display: inline;
  vertical-align: middle;
}

/*All products*/

#left-nav {
  width: 10px;
}

.column:last-child, .columns:last-child {
  float: left;
}

.medium-6 {
  width: 100%;
}

/*
.small-up-4 .column, .small-up-4 .columns {
  width: 50%;
}*/


/*ng messaging*/

.ng-message-error {
  height: 30px;
  width: 75%;
  margin-left: 180px;
  line-height: 30px;
  color: #fff;
  background: #E57373;
  border: 1px solid #B71C1C;
  border-radius: 5px;
}

.ng-message-error p {
  margin-left: 10px;
}



