body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.menu-option-wander {
  font-size: 20px;
  color: black;
}

.top-bar {
  background-color: white; 
  text-align: center;
  margin: auto;
  line-height: 56px;
  font-size: 10px;
}

.top-bar li {
  display: inline;
  vertical-align: middle;
}

.top-bar li img {
  display: inline;
  vertical-align: middle;
}


/*All products*/

#left-nav {
  width: 10px;
}



/*ng messaging*/

.ng-message-error {
  height: 30px;
  width: 75%;
  margin-left: 180px;
  line-height: 30px;
  color: #fff;
  background: #E57373;
  border: 1px solid #B71C1C;
  border-radius: 5px;
}

.ng-message-error p {
  margin-left: 10px;
}



